@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

html, body {
    min-height: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: black;
    background-size: 1920px 1080px;
    font-family: 'Anonymous Pro', monospace;
    font-weight: bolder;
    color: lightgrey;
}

#wrapper {
    position: absolute;
    pointer-events: none;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}

/*#wordsDisplay {
    height: 124px;
}*/

#wordsInputText {
    resize: none;
    overflow: auto;
    font-weight: bolder;
    color: rgb(75, 75, 75);
}

#redoButton {
    pointer-events: all;
    background-color: rgb(33, 33, 33);
}

#origBackgroundButton, #spaceBackgroundButton {
    width: 24px;
    height: 12px;
    pointer-events: all;
}

#originalBackgroundButton {
    background-color: black;
}

#spaceBackgroundButton {
    background-image: url("/images/space_button.png");
}

.background-image{
    width: 110%;
    height: 110%;
    left: 0;
    top: 0;
    position: absolute;
    background-image: url("/images/space.png");
    background-size: 1920px 1080px;
}

.correct {
    opacity: 0.2;
}

.incorrect {
    color: #ff9191;
    text-decoration: underline;
}

.displayedChars {
    font-size: x-large;
}