* {
    font-family: monospace;
    color: lightgrey;
}

body {
    background-image: url("/images/space.png");
    background-color: black;
    background-size: 1920px 1080px;
}

#wordsDisplayText {
    font-size: 20px;
    resize: none;
    overflow: hidden;
    height: 72px;
    border: none;
    color: lightgrey;
}

#wordsInput {
    resize: none;
    overflow: auto;
}

#origBackgroundButton {
    background-color: black;
}

#spaceBackgroundButton {
    background-image: url("/images/space_button.png");
    background-color: black;
}

.correct {
    opacity: 0.2;
}

.incorrect {
    color: #ff9191;
    text-decoration: underline;
}

.hiddenWords {
    font-size: x-large;
}