* {
    font-family: monospace;
    color: lightgrey;
}

#wordsDisplayText {
    font-size: 20px;
    resize: none;
    overflow: hidden;
    height: 72px;
    border: none;
    color: lightgrey;
}

#wordsInput {
    resize: none;
    overflow: auto;
}

.correct {
    opacity: 0.2;
}

.incorrect {
    color: #ff9191;
}

.hiddenWords {
    font-size: xx-large;
}